/* ========== CSS Variables ========== */
:root {
  --background-color: #FAFEFF;
  --highlight-color: #e4e550;
  --primary-color: #92BBDB;
  --secondary-color: #2d4659;
  --tertiary-color: #444949;
}

/* ========== Page Styles ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: Helvetica, Arial, sans-serif;
}

main {
  padding: 0 5rem;
}

h1, .heading {
  font-size: 4rem;
  font-weight: bold;
  line-height: 6rem;
}

h2, .subheading {
  font-size: 2rem;
  font-weight: normal;
  line-height: 3rem;
}

p {
  color: var(--secondary-color);
  line-height: 1.5rem;
}

/* ========== Header ========== */
header {
  align-items: center;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
}

header h1 {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  margin: 1rem 0 1rem 0;
  padding-left: 5rem;
  padding-right: .625rem;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0 5rem;
}

nav a {
  border-bottom: solid .2rem var(--primary-color);
  color: var(--primary-color);
  margin: 0 .4rem;
  padding: .2rem 1rem;
  text-decoration: none;
}

nav a:hover {
  border-bottom: solid .2rem var(--highlight-color);
  color: var(--highlight-color);
  transition: .3s;
}

/* ========== Hero ========== */
.hero {
  background-image: url("../images/log-with-moss.jpeg");
  background-position: center;
  background-size: cover;
  height: 18rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.portrait {
  flex: 0 1 16rem;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5rem;
}

.portrait img {
  width: 75%;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px hsl(180, 4%, 28%),
    0 0 0 5px hsl(60, 74%, 61%),
    0 0 0 9px hsl(180, 4%, 28%);
}

/* ========== Main Content ========== */
article {
  display: flex;
  margin: auto;
  max-width: 90rem;
  padding-top: 2rem;
}

.article-heading {
  border-right: solid .2rem var(--secondary-color);
  color: var(--secondary-color);
  flex: 1 0 18rem;
  padding-right: 1rem;
  text-align: right;
}

.article-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 80%;
  justify-content: space-between;
  padding: 0 0 0 3rem;
}

#work .article-content {
  padding: 0 0 0 2rem;
}

.project-card {
  background-size: cover;
  border: solid .5rem var(--primary-color);
  flex: 2 1 40%;
  height: 10rem;
  margin: 1rem;
  position: relative;
}

.project-card:first-child {
  flex: 1 0 95%;
  height: 32.5rem;
}

.project-tag {
  background-color: var(--primary-color);
  bottom: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  z-index: 2;
}

.overlay {
  background: rgba(0, 0, 0, .5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.project-card:hover {
  border-color: var(--highlight-color);
  transition: .3s;
}

.project-card:hover .project-tag {
  background-color: var(--highlight-color);
  transition: .3s;
}

.project-card:hover .overlay {
  background: rgba(0, 0, 0, .0);
  transition: .3s;
}

#contact-me {
  padding-bottom: 2rem;
}

.contact-links {
  align-items: center;
  justify-content: space-around;
}

.contact-links a {
  border-bottom: solid .2rem var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  padding: .2rem;
  text-decoration: none;
}

.contact-links a:hover {
  border-bottom: solid .2rem var(--highlight-color);
  color: var(--highlight-color);
}

@media screen and (max-width: 415px) {
  body {
    width: 100%;
  }

  header {
    flex-wrap: wrap;
  }

  header h1 {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 3rem;
    line-height: 4.5rem;
    text-align: center;
  }

  nav {
    width: 100%;
  }

  nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-around;
  }

  .portrait {
    margin: auto;
    justify-content: space-around;
  }

  main {
    padding: 1rem;
  }

  .heading {
    font-size: 3rem;
    line-height: 4.5rem;
  }

  .subheading {
    font-size: .75rem;
    ;
  }

  article {
    flex-wrap: wrap;
    padding-top: 1rem;
    width: 90%;
  }

  .article-heading {
    border-right: none;
    padding-right: 0;
    border-bottom: solid .2rem var(--secondary-color);
    text-align: center;
    margin-bottom: 1rem;
    flex: 1 1 100%;
  }

  .article-content {
    padding: 0;
    flex: 1 1 100%;
  }

  .contact-links a {
    font-size: .5rem;
  }
}